---
layout: default
---

<section id="intro">
  <div class="tegs">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}

        <a class="posts" href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' '
          }}{{ tag | last | size
          }}{% unless forloop.last %}, {% endunless %}
        </a>

    {% endfor %}
  </div>
</section>
<!--
<div class="search-article">
    <label for="search-input" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </label>

    <input type="search" id="search-input" placeholder="Find some link" aria-label="Search">
    <ul id="search-results"></ul>
</div>
<br>
-->

<section class="posts" id="Blog">
    <ul>
        {% for post in site.posts %}
        <li>
		<a href="{{ post.link }}" target="_blank">{{ post.title }}</a><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"><i class="fa fa-rocket" aria-hidden="true"></i></a>
    <p>{{ post.summary }}</p>

        </li>
        <br>
        {% endfor %}
    </ul>

</section>
